
      <div class="grid grid-cols-3 gap-3" id="item-note" *ngFor="let item of listNotes; let i = index"
      (mouseover)="item.hover= true"
      (mouseleave)="item.hover = false"
      [ngClass]="{'changeColor': item.hover}">

        <div id="note" class="text-white text-center cursor-pointer"
        style="width: 70%;"
        [ngClass]="{'line-through': item.complete, 'no-underline': !item.complete}">
        {{item.note}}
        </div>

          <div [ngClass]="{'hidden': !item.hover, 'show': item.hover}" style="text-align: right;">
            <input
            id="red-checkbox"
            type="checkbox"
            (change)="onchange(item.id, i)"
            ng-checked="item.complete"
            class="w-4 h-4 text-red-600 bg-gray-100 rounded border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />

          </div>
          <div style="text-align: left" *ngIf="item.hover">
            <a class="font-medium text-white hover:underline cursor-pointer"
            (click)="delete(i)"
            ><i class="fa fa-trash" aria-hidden="true"></i></a>
          </div>


      </div>


