<div class="py-24">
  <div class="flex justify-center">
    <div
      class="p-4 w-full max-w-sm bg-rose-400 rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700"
    >
      <h5 class="mb-4 text-xl font-medium text-white dark:text-gray-400">
        Notebook
      </h5>
      <div class="text-white text-center">
        <span class="text-5xl font-extrabold tracking-tight">My date</span>
      </div>
      <app-list></app-list>
      <app-new-note></app-new-note>
    </div>
  </div>
</div>
